:root {
    --vh: 100%;
}
.main_page_container {
    width: 80vw;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   