.menuBarContainer {
  width: 100vw;
  height: 8vh;
  position: absolute;
  bottom: 0;
  background-color: white;
  position: sticky;
  bottom: 0vh;
}

.menuBar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  color: #000000;
}
