.log_container{
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    margin-left : 5vw;
    justify-content: space-between;
}
.log_time{
    display : flex;
    align-items: center;
    padding-right : 2vw;
    font-weight: bold;
}
.log_commentLine{
    width : 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.log_timeCircle{
    border : 1vw solid black;
    width : 3vw;
    height : 3vw;
    border-radius: 50%;
}
.log_comment{
    width : 80%;
    border-radius: 5vw;
    padding : 3vh 5vw;
    font-weight: bolder;
}
.log_line{
    width : 8%;
    border : 1.5px solid black;
    opacity: 1;
}
#end{
    width : 4%;
}