.visitLog_page_header{
    padding : 5vh 3vw;
    font-weight: 600;
}
.visitLog_page_header h1{
    font-weight: bolder;
}
.visitLog_page_container {
    height: 100vh;
    margin : 0 auto;
}
.vistLog_page_summit{
    position : fixed;
    bottom : 0;
}
.vistLog_page_Log{    
    padding-bottom: 8vh;
}