.clickBoxDiv {
  width: 95vw;
  height: 65vh;
  margin: 10% auto;
  top: 0px;
  position: sticky;
  z-index: -1;
}
#schoolImg {
  width: 100%;
  height: 65vh;
  border-radius: 20px;
}
#banner{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#golink{
  cursor: pointer;
}