.border {
  width: 20.938rem;
  background-color: #f4f4f4;
  border-radius: 27px;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
}
.title {
  padding: 5px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content {
  padding: 5px 15px;
  text-align: center;
  margin-top: 10px;
}
.content > img {
  margin-bottom: 10px;
}
.img-logo {
  width: 100%;
}
.img-pointer {
  width: 11px;
  margin-left: 10px;
}
.left {
  font-size: 20px;
  font-weight: 900;
}
.introduction {
  font-size: 13px;
  color: #8f8c8c;
}
.location {
  font-size: 18px;
  color: #8f8c8c;
  font-weight: 500;
}
.right {
  width: 28%;
  position: relative;
}

.open {
  color: #ff3d00;
  font-size: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 900;
  position: absolute;
  bottom: 0;
  right: 0;
}

.close {
  color: #ff3d00;
  font-size: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 900;
  position: absolute;
  bottom: 0;
  right: 0;
}

.imgBox {
  cursor: pointer;
  border-radius: 27px;
  text-align: center;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.mapimg {
  width: 273px;
  margin: 10px auto;
}
