#slideDiv {
  width: 100vw;
  background-color: white;
  margin: 0 auto;
  padding: 0 0 10% 0;
  border-radius: 20px;
}
section > button {
  width: 100%;
  padding: 3%;
  border: none;
  background-color: white;
}
#slideSection {
  display: flex;
  width: 95%;
  margin: 0 auto;
}
#slideSection hr {
  margin-left: 5vw;
  width: 70vw;
  border-radius: 20px;
  border-top: 5px solid black;
  height: 5px;
}
#clubBigTitle {
  line-height: 37px;
}
